<div class="p-tabs">
  <div class="p-tabs__list" role="tablist">
    <div class="p-tabs__item" role="presentation">
      <a class="p-tabs__link {% if request.url.path == '/admin' %}is-active{% endif %}"
         href="/admin">Overview</a>
    </div>
    <div class="p-tabs__item" role="presentation">
      <a class="p-tabs__link {% if request.url.path == '/admin/evaluations' %}is-active{% endif %}"
         href="/admin/evaluations">LLM Evaluations</a>
    </div>
    <div class="p-tabs__item" role="presentation">
      <a class="p-tabs__link {% if request.url.path == '/admin/schedule' %}is-active{% endif %}"
         href="/admin/schedule">Refresh Schedule</a>
    </div>
  </div>
</div>
