<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}craft-dashboard{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://assets.ubuntu.com/v1/vanilla_framework_version_4_44_0_min.css"
    />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    {% block head %}{% endblock %}
  </head>
  <body class="is-paper">
    <nav class="container">
      <ul>
        <li><strong>craft-dashboard</strong></li>
      </ul>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/issues">Issues & PRs</a></li>
        <li>
          <details class="dropdown">
            <summary>Stats</summary>
            <ul>
              <li><a href="/stats/dependencies">Dependencies</a></li>
              <li><a href="/stats/releases">Releases</a></li>
              <li><a href="/stats/trends">Trends</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer class="l-footer--sticky p-strip is-dark is-shallow">
      <div class="row">
        <a class="is-dark" href="https://github.com/mr-cal/craft-dashboard">craft-dashboard</a>
      </div>
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
